[defaults]
host_key_checking = False
roles_path = ./roles
retry_files_enabled = False
deprecation_warnings = False
interpreter_python = auto_silent
stdout_callback = default
timeout = 30

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ConnectTimeout=15
pipelining = True
